@import url("/styles/styles.css");


.painel {
    display: block;
    align-content: center;
    background-color: var(--cinza-card);
    width: 600px;
    height: auto;
    border: 2px solid black;
    border-radius: 8px;
    margin: 2rem 33rem;
    padding: 1rem 5rem 5rem 12rem;
}

.icone-painel {
padding-left: 95%;
}


.painel .img-descricao {
    display: flex;
    flex-direction: row;
    
}

.img-descricao h2 {
    width: 40%;
    padding-left: 20%;
}
#produto-venda {
    width: 20%;
    height: auto;
    background-color: white;
}

#valor-unidade {
    width: 480px;
    text-align: end;
    font-size: 1.2rem;
    padding: 20px 0;
}
.produtos-relacionados, h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quantidade {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 4%;
    border-bottom: 2px solid black;
}

#rem-produto, #add-produto {
    width: 50px;
}


.cores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
}

#quantidade-produtos, #subtotal-result, #total-result{
    width: 220px;
    height: 1.2rem;
    background-color: white;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 3px;
}

#cep {
    width: 280px;
}

.campo-frete {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 2px;

}

.campo-frete #cep {
    width: 160px;
}

.campo-frete #local-frete {
    width: 30px;
}

#valor-frete {
    color: #4B9926;
    font-size: 1.2rem;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#fazer-pedido {
    width: 80%;
    height: 2rem;
    color: white;
    background-color: #4B9926;
}
