@import url("/styles/styles.css");

.secao-banner {
    background-color: var(--cinza-card);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.banner {
    background-image: url("/img/imagen_index.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100%;
    padding-bottom: 50%;
}

.banner-textos {
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}

.banner-titulo__principal {
    font-size: 3rem;
    color: var(--cor-background-principal);
}

.banner-titulo__destaque {
    color: var(--azul-banner);
}

.banner-desconto {
    font-size: 6rem;
    margin: 3em 1em 0 0;
    text-transform: uppercase;
    color: var(--azul-botao);
}

.banner-desconto__texto {
    color: var(--cor-background-principal);
}