@import url("/styles/styles.css");

.secao-banner {
    background-color: var(--cinza-card);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner {
    background-image: url("/img/imagen_index.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.banner-titulo__principal {
    font-size: 3rem;
    color: var(--cor-background-principal);
    padding-top: 10%;
}

.banner-titulo__destaque {
    color: var(--azul-banner);
}

.banner-desconto {
    padding-top: 4em;
    margin-right: 25%;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--azul-botao);
}

.banner-desconto__texto {
    margin-right: 25%;
    color: var(--cor-background-principal);
}