@import url("/styles/styles.css");

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 2em;
    background-color: var(--cinza-card);
    height: 12em;
}

.menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botao {
    border: none;
}

.botao-icone {
    width: 2em;
    height: auto;
}

#menu {
    display: none;
}

.menu-botao {
    padding: 0.25em;
    height: 0.25em;
}

.menu-botao__link {
    padding: 0.25em;
    margin: 0.25em;
}

.menu-botao__link-a {
    color: black;
    text-decoration: none;
}

.logo__icone {
    width: 300px;
    height: auto;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-nav__link {
    padding: 0 0.5em;
    margin: 0 0.5em;
    text-decoration: none;
    color: black;
}

.sacola {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sacola-icone {
    width: 50px;
    height: auto;
}