@import url("/styles/styles.css");

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: var(--cinza-card);
    width: 100%;
}

.menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aside {
    position: relative;
    background-color: var(--cinza-card);
    align-self: start;
}

.botao {
    border: none;
}

.botao-icone {
    width: 1.5em;
    height: auto;
}

#menu {
    display: none;
}

.menu-botao {
    padding: 0.25em;
    height: 0.25em;
}

.menu-botao__link {
    background-color: var(--cinza-card);
    border: 1px solid black;
    padding: 0 0.25em;
    margin: 0 0.25em;
}

.menu-botao__link-a {
    color: black;
    text-decoration: none;
}

.logo__icone {
    width: 300px;
    height: auto;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
}

.menu-nav__link {
    padding: 0 0.5em;
    margin: 0 0.5em;
    text-decoration: none;
    color: black;
}

.sacola {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sacola-icone {
    width: 50px;
    height: auto;
}

.sacola-texto {
    font-size: 1.25rem;
}

@media screen and (max-width: 1100px) {
    
    .botao-icone {
        width: 1.25em;
    }

    .menu-botao {
        padding: 0.2em;
        height: 0.2em;
    }

    .menu-botao__link {
        padding: 0 0.2em;
        margin: 0 0.2em;
    }

    .logo__icone {
        width: 250px;
    }

    .nav-links a {
        font-size: 0.75rem;
    }

    .menu-nav__link {
        padding: 0 0.4em;
        margin: 0 0.4em;
    }

    .sacola-icone {
        width: 40px;
        height: auto;
    }
    
    .sacola-texto {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    
    .botao-icone {
        width: 1em;
    }

    .menu-botao {
        padding: 0.15em;
        height: 0.15em;
    }

    .menu-botao__link {
        padding: 0 0.15em;
        margin: 0 0.15em;
    }

    .logo__icone {
        width: 170px;
    }

    .menu-nav__link {
        padding: 0 0.3em;
        margin: 0 0.3em;
    }

    .sacola-icone {
        width: 35px;
        height: auto;
    }
    
    .sacola-texto {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    
    .botao-icone {
        width: 0.75em;
    }

    .menu-botao {
        padding: 0.1em;
        height: 0.1em;
    }

    .menu-botao__link {
        padding: 0 0.1em;
        margin: 0 0.1em;
    }

    .menu-botao__link-a {
        font-size: 0.1rem;
    }

    .logo__icone {
        width: 150px;
    }

    .menu-nav__link {
        padding: 0 0.2em;
        margin: 0 0.2em;
    }

    .sacola-icone {
        width: 30px;
        height: auto;
    }
    
    .sacola-texto {
        display: none;
    }

    .nav-links a {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 550px) {
    
    .botao-icone {
        width: 0.6em;
    }

    .menu-botao {
        padding: 0.1em;
        height: 0.1em;
    }

    .menu-botao__link {
        padding: 0 0.1em;
        margin: 0 0.1em;
    }

    .menu-botao__link-a {
        font-size: 0.1rem;
    }

    .logo__icone {
        width: 120px;
    }

    .menu-nav__link {
        padding: 0 0.2em;
        margin: 0 0.2em;
    }

    .menu-botao__link 

    

    .sacola-icone {
        width: 30px;
        height: auto;
    }
    
    .sacola-texto {
        display: none;
    }
}


