@import url("/styles/styles.css");

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-card);
    padding: 2em;
}

.pesquisa-input {
    width: 40%;
    height: 45px;
    outline: none;
    border: 0 white;
    border-radius: 22.5px;
    padding-left: 2em;
}

.pesquisa-input::placeholder {
    padding: 1em;
}

.pesquisa-icone {
    width: 35px;
    height: auto;
    margin-left: 1em;
}