
#texto-compra-realizada{
    font-size: 2rem;
    text-align: center;
    padding-right: 80px;
}

#imagem-compra-ok{ 

    padding: 2rem 11rem;
    
}

.texto-itens-comprados h2{
    font-size: 1rem;
    padding: 0.5rem;
}

.texto-itens-comprados li{
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}

.texto-entrega h2{
    font-size: 1rem;
    padding: 0.5rem;
}

.texto-entrega div{
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}

.texto-valor-total h1{
    text-align: end;
    font-size: 2rem;
}