h1{
    font-size: 1.5rem;
    width: auto;
    height: 4rem;
    text-align: center;
    padding: 20px 80px 0 0;   
}


h2{
    font-size: 1.5rem;
    width: auto;
    height: 4rem;
    text-align: center; 
    padding: 20px 80px 0 0;  
}


#username {
    width: 450px;

}


#usersurname {
    width: 415px;
}

#usersurname-helper, #username-helper, #email-helper, #searchcep-helper, #logradouro-helper, #numero-helper, #bairro-helper, #cidade-helper, #uf-helper {
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: #992020;
    font-style: italic;
}

#email {
    width: 445px;
}

#email-helper {
    margin-bottom: 30px;
}

.pag-pix, .pag-boleto, .pag-cartao {
    margin-bottom: 10px;
} 

#logradouro{
    width: 420px;
    margin-top: 5px;
}

#numero {
    width: 80px;
    margin-top: 5px;
    margin-right: 40px;
}

#complemento {
    width: 220px;
}

#bairro {
    width: 450px;
    margin-top: 5px;

}

#cidade {
    width: 450px;
    margin-top: 5px;
}

#uf {
    width: 450px;
    margin-top: 5px;

}

#comprar {
    width: 515px;
    margin-top: 30px;
    height: 2rem;
    color: white;
    background-color: #4B9926;
}


/* VALIDAÇÕES */

input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}
  
input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}
  
