@import url("/styles/styles.css");


.painel {
    display: block;
    background-color: var(--cinza-card);
    width: 600px;
    height: auto;
    border: 2px solid black;
    border-radius: 8px;
    margin: 2rem 15rem;
    padding: 1rem 5rem 5rem 12rem;
}

.icone-painel {
padding-left: 95%;
}


.painel .img-descricao {
    display: flex;
    flex-direction: row;
    
}

.img-descricao h2 {
    width: 40%;
    padding-left: 20%;
}
#produto-venda {
    width: 20%;
    height: auto;
    background-color: white;
}

.produtos-relacionados, h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quantidade {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
}

.cores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
}

.quantidade-produtos {
    width: 8rem;
    height: 1.4rem;
    background-color: white;
    text-align: center;
    font-size: 1.2rem;
}

.campo-frete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: 2px solid black;
}
.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#fazer-pedido {
    width: 80%;
    height: 2rem;
    color: white;
    background-color: #4B9926;
}
