@import url("/styles/styles.css");


.painel {
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-card);
    width: auto;
    height: 480px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 2rem 20rem;
    padding: 1rem 5rem 5rem 5rem;
}

.icone-painel {
padding-left: 95%;
}

.painel-2 {
    padding-left: 3.5rem;
}

.painel .img-descricao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.img-descricao h2 {
    width: 35%;
}
#produto-venda {
    width: 25%;
    height: auto;
    padding: 10px;
    background-color: white;
}

.produtos-relacionados, h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quantidade {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
}

.cores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
}

.campo-frete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: 2px solid black;
}
.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#fazer-pedido {
    width: 80%;
    height: 2rem;
    color: white;
    background-color: #4B9926;
}