:root {
    --cor-background-principal: #ffffff;
    --marrom-linha-index: #e66300;
    --cinza-card: #f1eeee;
    --cinza: #a8a5a3;
    --cinza-botao: #737373;
    --azul-botao: #0878d3;
    --laranja-rodape: #ff6f00;
    --verde-botao: #4b9926;
    --amarelo-botao: #e6d600;
    --vermelho-botao: #ff0101;
    --fonte-chau : 'Chau Philomene One', sans-serif;
    --fonte-playfair: 'Playfair Display', serif;
    --fonte-questrial: 'Questrial', sans-serif;
    --laranja-card: #f3aa0b;
}

body {
    font-family: var(--fonte-chau);
}